*{
    transition: 0.3s;
}

.headerLight {
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    top: 0;
    height: 4rem;
    width: 90%;
    padding: 0 5%;
    box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.56);
    background-color: rgb(250, 250, 250);
    z-index: 100;
}

.hamburgherMenu {
    display: none;
}

.logo,
.searchBarLight {
    display: flex;
    align-items: center;
}


.inputLight {
    height: 1.5rem;
    border-radius: 8px;
    margin: 0 0.3rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    width: 15rem;
    background-color: rgba(114, 114, 114, 0.2);
}

.logo-icon {
    width: auto;
    height: 1.8rem;
    color:  rgb(84, 99, 186);
}

.search-icon {
    width: auto;
    height: 1.6rem;
    cursor: pointer;
    color:  rgb(72, 72, 72);
}

.reddit {
    font-weight: 600;
    font-size: 1.2rem;
    color:  rgb(84, 99, 186);
}

.lite {
    font-size: 1.2rem;
    color:  rgb(72, 72, 72);
}

.searchBarLight button {
    background-color: rgb(250, 250, 250);
}

.lightButton {
    font-size: 1.6rem;
    cursor: pointer;
}

/*  Dark Mode  */

.headerDark {
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    top: 0;
    height: 4rem;
    width: 90%;
    padding: 0 5%;
    box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.56);
    background-color: rgb(0, 0, 0);
    z-index: 100;
    border-bottom: 1px solid rgba(240, 240, 240, 0.2);
}

.searchBarDark {
    display: flex;
    align-items: center;
}

.inputDark {
    height: 1.5rem;
    border-radius: 8px;
    margin: 0 0.3rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    width: 15rem;
    background-color: rgba(229, 217, 217, 0.2);
    color: rgb(250, 250, 250);
}

.logo-iconDark {
    width: auto;
    height: 1.8rem;
    color:  rgb(110, 118, 177);
}

.search-iconDark {
    width: auto;
    height: 1.6rem;
    cursor: pointer;
    color:  rgb(209, 206, 206);
}

.redditDark {
    font-weight: 600;
    font-size: 1.2rem;
    color:  rgb(110, 118, 177);
}

.liteDark {
    font-size: 1.2rem;
    color:  rgb(209, 206, 206);
}

.searchBarDark button {
    background-color: rgb(0, 0, 0);
}

.darkButton {
    transform: rotate(180deg);
    font-size: 1.6rem;
    cursor: pointer;
    color:  rgb(209, 206, 206);
}


@media only screen and (max-width: 600px) {

    .headerLight,
    .headerDark {
        justify-content: center;
    }

    .headerLight.active,
    .headerDark.active {
        box-shadow: none;
    }

    .inputLight,
    .inputDark {
        height: 1.5rem;
        margin: 0;
        padding: 0.5rem 1rem;
        width: 60%;
        background-color: rgba(114, 114, 114, 0.2);
    }

    .searchBarLight {
        position: fixed;
        top: 4rem;
        left: -100%;
        width: 100%;
        padding: 1rem 0;
        justify-content: center;
    }

    .searchBarLight.active,
    .searchBarDark.active {
        left: 0;
        border-bottom: none;
    }
    

    .hamburgherMenu {
        display: block;
        position: fixed;
        left: 1rem;
    }

    .hamburgherMenu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgherMenu.active .bar:nth-child(1) {
        transform: translateY(0.5rem) rotate(405deg);
    }

    .hamburgherMenu.active .bar:nth-child(3) {
        transform: translateY(-0.5rem) rotate(-405deg) ;    }


    .bar  {
        padding: 0.1rem 0.8rem;
        background-color: rgb(114, 114, 114);
        border-radius: 10px;
        margin: 0.3rem 0;
    }

    .darkButton,
    .lightButton {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
        opacity: 1;
    }

    .darkButton.active,
    .lightButton.active {
        opacity: 0;
    }

    .searchBarDark {
        position: fixed;
        top: 4rem;
        left: -100%;
        width: 100%;
        padding: 1rem 0;
        justify-content: center;
        background-color: rgb(0, 0, 0);
    }
}

