
.commentWrapper {
    width: 70%;
    height: auto;
    display: block;
    padding: 1.5rem;
    border-radius: 15px;
    transition: 0.3s;
    background-color: rgb(240, 240, 240);
    margin: 0.7rem 0;
    overflow: hidden;
}

.replyWrapper {
    width: 70%;
    height: auto;
    display: block;
    padding: 1.5rem;
    border-radius: 15px;
    transition: 0.3s;
    background-color: rgb(240, 240, 240);
    margin: 0.7rem 0 0.7rem 3rem;
    overflow: hidden;
    
}

.commentAuthor {
    color:  rgb(84, 99, 186);
    font-weight: 600;
    font-size: 0.8rem;
}

.authorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.replyContainer {
    width: 90%;
    height: 50%;
    border-left: 1px solid rgb(84, 99, 186);;
    margin-left: 5%;
}

.commentWrapper:hover {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.16);
}

.replyWrapper:hover {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.16);
}

.time {
    font-size: 0.6rem;
}

.commentBody {
    padding-top: 1rem;
    word-break: break-all;
}

/*  Dark Mode  */

.commentWrapperDark {
    width: 70%;
    height: auto;
    display: block;
    padding: 1.5rem;
    border-radius: 15px;
    transition: 0.3s;
    color: rgb(240, 240, 240);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(240, 240, 240, 0.2);
    margin: 0.7rem 0;
    overflow: hidden;
}

.replyWrapperDark {
    width: 70%;
    height: auto;
    display: block;
    padding: 1.5rem;
    border-radius: 15px;
    transition: 0.3s;
    color: rgb(240, 240, 240);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(240, 240, 240, 0.2);
    margin: 0.7rem 0 0.7rem 3rem;
    overflow: hidden;
    
}


