
.commentWrapper {
    width: 70%;
    height: auto;
    display: block;
    padding: 1.5rem;
    border-radius: 15px;
    transition: 0.3s;
    background-color: rgb(240, 240, 240);
    margin: 0.7rem 0;
}

.inline {
    display: flex;
}
