.galleryArrow {
    font-size: 2rem;
    z-index: 120;
    color: rgb(240, 240, 240);
    transition: 0.1s;
    cursor: pointer;
}

.galleryArrow:hover {
    color: rgba(240, 240, 240, 0.5);
}

#leftArrow {
    transform: rotate(180deg);
    position: fixed;
    top: 50%;
    left: 5%;
}

#rightArrow {
    position: fixed;
    top: 50%;
    right: 5%;
}


.banner {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: rgba(50, 50, 50, 0.3);
    backdrop-filter: blur(1.5rem);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transform: translateY(3rem);
    color: rgb(240, 240, 240);
}

 a {
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    .galleryArrow {
        display: none;
    }
    .banner {
        width: 100%;
    }

}

