
.up {
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.down {
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.up:hover {
    color:  rgb(44, 213, 92);
    background-color: rgb(224, 220, 220);
}

button {
    background: none;
}

.down:hover {
    
    color:  rgb(248, 23, 64);
    background-color: rgb(224, 220, 220);

}

.upActive {
    font-size: 1.3rem;
    cursor: pointer;
    color:  rgb(44, 213, 92);
}

.downActive {
    font-size: 1.3rem;
    cursor: pointer;
    color:  rgb(248, 23, 64);
}

.upActive:hover {
    font-size: 1.3rem;
    cursor: pointer;
    color:  rgb(44, 213, 92);
    background-color: rgb(207, 249, 195);
    border-radius: 50%;
}

.upVote {
    color:  rgb(44, 213, 92);
    font-weight: 700;

}

.downVote {
    font-weight: 700;
    color:  rgb(248, 23, 64);
}

.downActive:hover {
    font-size: 1.3rem;
    cursor: pointer;
    color:  rgb(248, 23, 64);
    background-color: rgb(252, 201, 201);
    border-radius: 50%;


}

.postContainer {
    width: 90%;
    height: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.16);
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
}

.titleContainer {
    width: 100%;
}

.subreddit {
    font-size: 0.6rem;
    width: 100%;
}

.titleContainer h3{
    font-size: 1.2rem;
    width: 100%;
}

.upsContainer {
    display: flex;
    align-items: center;
}

.commentsSection {
    width: 100%
}

.imageContainer {
    width: 100%;
    overflow: hidden;
    margin: 5%;
    transition: 0.3s;
}

.main {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.selfTextContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.showMoreButton {
    width: 6rem;
    height: 1.5rem;
    background-color: rgb(138, 138, 138);
    font-size: 0.8rem;
    margin: 0.3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(250, 250, 250);
    border-radius: 8px;
}
.showMoreButton:hover {
    background-color: rgb(183, 183, 183);
}

.detailsContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid;
    width: 100%;
}

.postImage {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.galleryPostImage {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin: 1.5%;
}

.gallerySmall,
.imgSmall {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
    justify-content: center;
}

.postText {
    margin: 1rem 0;
}

.postGalleryImage {
    width: 28%;
    height: auto;
    border-radius: 10%;
    margin: 2%;
}

.galleryWrapper {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}

.expandPostImage {
    width: auto;
    height: 80%;
    z-index: 101;
}

.expandGalleryPostImage {
    width: 80%;
    margin: 0 10%;
    height: auto;
    z-index: 101;
}

.null {
    display: none;
}

.imgContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expandImgContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    backdrop-filter: blur(0.4rem);
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 100;
}

.clsBtn {
    display: none;
}

.clsBtnActive {
    z-index: 105;
    color: rgba(250, 250, 250, 0.8);
    font-size: 2rem;
    z-index: 100;
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 105;
}

.author {
    color:  rgb(84, 99, 186);
    font-weight: 600;
    width: 100%;
}

.authorAvatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0.4rem;
    border: 2px solid rgb(84, 99, 186);
    ;

}

.authorContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.time {
    font-size: 0.7rem;
}

.comments {
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    background:  none;
    transition: 0.3s;
    border-radius: 8px;
}

.commentIcon {
    font-size: 1.2rem;
}

.comments:hover {
    color:  rgb(0, 0, 0);
    background-color: rgb(224, 220, 220);
}

.commentButton {
    transition: 0.3s;
    border-radius: 10px;
    background-color: rgb(84, 99, 186);
    color: rgb(250, 250, 250);
    display: flex;
    padding: 0.4rem;
    font-weight: 700;
    cursor: pointer;
    margin: 0 3rem;
}

.commentButton:hover {
    background-color: rgb(61, 73, 145);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.16);
}
.commButtons {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.main,
.mainDark {
    width: 100%;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
}

.errorIcon {
    font-size: 3rem;
    padding: 1.2rem;
}

.errorMessage {
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

/*  Dark Mode  */

.postContainerDark {
    width: 90%;
    height: auto;
    border: 1px solid rgba(240, 240, 240, 0.2);
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    transition: 0.3s;
}

.upDark,
.downDark {
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
    color: rgb(250, 250 , 250);
}

.upDark:hover {
    color:  rgb(44, 213, 92);
    background-color: rgb(74, 73, 73);
}

.downDark:hover {
    
    color:  rgb(248, 23, 64);
    background-color: rgb(74, 73, 73);
}

.upActiveDark {
    font-size: 1.3rem;
    cursor: pointer;
    color:  rgb(44, 213, 92);
}

.downActiveDark {
    font-size: 1.3rem;
    cursor: pointer;
    color:  rgb(248, 23, 64);
}

.upActiveDark:hover {
    font-size: 1.3rem;
    cursor: pointer;
    color:  rgb(44, 213, 92);
    background-color: rgb(60, 150, 35);
    border-radius: 50%;
}

.upVote {
    color:  rgb(44, 213, 92);
    font-weight: 700;

}

.downVote {
    font-weight: 700;
    color:  rgb(248, 23, 64);
}

.downActiveDark:hover {
    font-size: 1.3rem;
    cursor: pointer;
    color:  rgb(248, 23, 64);
    background-color: rgb(134, 42, 42);
    border-radius: 50%;
}

.commentsDark {
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    background:  none;
    transition: 0.3s;
    border-radius: 8px;
    color: rgb(250, 250, 250);
}

.commentsDark:hover {
    background-color: rgb(88, 88, 88);
}

.commentButton {
    transition: 0.3s;
    border-radius: 10px;
    background-color: rgb(84, 99, 186);
    color: rgb(250, 250, 250);
    display: flex;
    padding: 0.4rem;
    font-weight: 700;
    cursor: pointer;
    margin: 0 3rem;
}

@media only screen and (max-width: 600px) {
    .author {
        font-size: 0.8rem;
    }

    .commentIcon {
        font-size: 1rem;
    }

    .comments p{
        font-size: 0.8rem;
    }
    
    .commButtons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .commentButton {
        font-size: 0.8rem;
        padding: 0.4rem 2rem;
        margin: 0;
    }

    .expandPostImage,
    .expandGalleryPostImage {
        width: 100vw;
        height: auto;
        margin: 0;
    }
    .postImage {
        width: 100%;
    }
}
